body {
    font-family: Arial, sans-serif;
}

li a.navbar-overwrite {
    color: #000;
    font-size: 13px;
    opacity: 0.75;
}

li a.navbar-overwrite:hover {
    text-decoration: underline;
}

.google-image {
    padding-top: 109px;
}

#search-rounded {
    border-radius: 1.5rem;
}

#search-rounded:hover {
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.16);
}

form button.btn-overwrite {
    background-color: #f2f2f2;
    color: #5F6368;
}

form button.btn-overwrite:hover {
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.16);
    background-color: #f2f2f2;
    color: #5F6368;
}